@import url("./common/common.css");
@import url("./full-screen-modal.css");

header {
  align-items: center;
  border-bottom: 4px solid var(--color-offblack);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
header .title {
  line-height: 1;
  margin: 0;
}
header .contact {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 0.8rem;
  font-weight: 350;
  gap: 0.25rem;
  line-height: 1.2;
  width: max-content;
}
header .contact a,
header .contact a:visited {
  color: var(--color-text);
}

body picture {
  display: flex;
    align-items: center;
    justify-content: center;
  height: 100%;
  width: 100%;
    max-height: 100%;
    max-width: 100%;
}
body picture > img {
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 100%;
  width: 100%;
    max-height: 100%;
    max-width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main h1 {
  margin: 0;
}
main h2 {
  margin-bottom: 0.125rem;
}
main h2 * {
  color: var(--color-text);
}
main hr {
  border-color: var(--color-brand);
}
main b {
  font-weight: 550;
}
main button,
main .button {
  background: var(--color-amber);
  border: 2px solid var(--color-offblack);
  border-radius: 0.15rem;
  color: var(--color-offblack);
  font-weight: 500;
  padding: 0.4rem 3rem;

  transition:
    background-color 0.2s ease-out,
    color 0.2s 0.05s ease-out;
  ;
}
main button:hover,
main .button:hover {
  background-color: var(--color-offblack);
  color: var(--color-offwhite);
}

.hero {
  background-color: black;
  background-image: url("/assets/photos/outside4800_normal.jpeg");
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 0.3rem;
  min-height: 400px;
  width: 100%;

  display: flex;
    align-items: center;
    justify-content: center;
  padding: calc(2rem + 10%);
}
.hero p {
  display: none;
}
main .hero p {
  color: var(--color-offwhite);
  display: block;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.25;
  text-align: center;
  text-shadow: 0 0 0.25rem var(--color-offblack);

  backdrop-filter: blur(1px);
  border-radius: 1rem;
}

main .form-wrapper {
  border: 2px dashed var(--color-offblack);
  border-radius: 0.15rem;
  padding: 1rem;
}

main .phone-container {
  background-color: var(--color-offwhite);
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  margin: 0.5rem 0;
}
main .phone-container > * {
  margin: auto;
}
main .phone-container .phone {
  font-size: 1.1rem;
  font-weight: 550;
}

main > section {
  margin-top: 1rem;
}

main .services > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 0;
  max-width: 800px;
}
main .services > div:nth-child(odd) {
  flex-wrap: wrap-reverse;
}
main .services picture {
  border-radius: 0.3rem;
  overflow: clip;
  width: 200px;
}
main .services picture img {
  height: 100%;
  width: 100%;
}
main .services p {
  flex: 1;
  min-width: 300px;
}

main .contact form {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  margin: 0.85rem 0 2rem;
}
main .contact form > div {
  position: relative;
}
main .contact :where(input, textarea) {
  background: var(--color-offwhite);
  border: 2px solid var(--color-offblack);
  border-radius: 0.15rem;
  padding: 0.25rem 0.4rem;
  width: 100%;
}
main .contact label {
  background: transparent;
  padding: 0 0.25rem;
  pointer-events: none;
  position: absolute;
    top: 0.25rem;
    left: 0.25rem;

  transition: inset 0.1s ease-out;
  transition-property: inset, background-color, color, font-size;
}
main .contact :where(input, textarea):not(:placeholder-shown) + label {
  background: linear-gradient(var(--color-offwhite) 70%, transparent 30%);
  top: -0.7rem;
  font-size: 0.85em;
}
main .contact :where(input, textarea):valid:not(:placeholder-shown) + label {
  color: var(--color-grey);
}
main .contact button[type="submit"] {
  align-self: start;
}
main .contact textarea {
  min-height: 2rem;
}

footer {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 4rem;
  width: 100%;
}
footer > p {
  min-width: calc(170px - 0.5rem);
}
@media (min-width: calc(2 * 170px + 5rem)) {
  footer > :last-child {
    text-align: right;
  }
}
@media (max-width: calc(2 * 170px + 5rem)) {
  footer { justify-content: center; }

  footer > p {
    text-align: center;
  }
}
